.head {
    background-color:black;
    /* min-height: 10vh; */
    height: 90px;
    min-width: 100%;
    padding-inline: 2.5rem;
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

.title{
    color: #9DB2BF;
    /* font-weight: 700; */
    font-family: "Poppins", sans-serif;
    padding-right: 10vw;
}

.nav{
    position: center;
}